<!-- IF SCRIPT_NAME == "posting" or SCRIPT_NAME == "viewtopic" or SCRIPT_NAME == "index" -->
	<!-- IF SCRIPT_NAME == "posting" -->
	<script>function toggle_smiliesigns_example_posting_box() { var x = document.getElementById('smiliesigns-example-posting-box'); if (x.style.display === 'block') { x.style.display = 'none';document.getElementById('smilies-example-posting-link').title = '{L_SMILIESIGNS_EXAMPLE_BBCODE_HELP}'; } else { x.style.display = 'block';document.getElementById('smilies-example-posting-link').title = '{L_SMILIES_EXAMPLE_BBCODE_HELP}'; } }</script>
		<div id="smiliesigns-posting-box"><span title="{L_SMILIESIGNS_EXAMPLE_BBCODE_HELP}"><a id="smilies-example-posting-link" onclick="toggle_smiliesigns_example_posting_box();"><strong>{L_SIGN_BBODES}</strong></a></span><div class="signs-posting-list">
	<!-- ELSEIF SCRIPT_NAME == "viewtopic" -->
	<script>function toggle_smiliesigns_example_viewtopic_box() { var x = document.getElementById('smiliesigns-example-viewtopic-box'); if (x.style.display === 'block') { x.style.display = 'none';document.getElementById('smilies-example-viewtopic-link').title = '{L_SMILIESIGNS_EXAMPLE_BBCODE_HELP}'; } else { x.style.display = 'block';document.getElementById('smilies-example-viewtopic-link').title = '{L_SMILIES_EXAMPLE_BBCODE_HELP}'; } }</script>
		<div id="smiliesigns-viewtopic-box"><span title="{L_SMILIESIGNS_EXAMPLE_BBCODE_HELP}"><a id="smilies-example-viewtopic-link" onclick="toggle_smiliesigns_example_viewtopic_box();"><strong>{L_SIGN_BBODES}</strong></a></span><div class="signs-viewtopic-list">
	<!-- ELSEIF SCRIPT_NAME == "index" -->
	<script>function toggle_smiliesigns_example_index_box() { var x = document.getElementById('smiliesigns-example-index-box'); if (x.style.display === 'block') { x.style.display = 'none';document.getElementById('smilies-example-index-link').title = '{L_SMILIESIGNS_EXAMPLE_BBCODE_HELP}'; } else { x.style.display = 'block';document.getElementById('smilies-example-index-link').title = '{L_SMILIES_EXAMPLE_BBCODE_HELP}'; } }</script>
		<div id="smiliesigns-index-box"><span title="{L_SMILIESIGNS_EXAMPLE_BBCODE_HELP}"><a id="smilies-example-index-link" onclick="toggle_smiliesigns_example_index_box();"><strong>{L_SIGN_BBODES}</strong></span><div class="signs-index-list">
	<!-- ENDIF -->
			<a onclick="bbfontstyle('[sign=acute]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/acute.gif" alt="" title="{L_ACUTE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=aggressive]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/aggressive.gif" alt="" title="{L_AGGRESSIVE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=agree]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/agree.gif" alt="" title="{L_AGREE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=aikido]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/aikido.gif" alt="" title="{L_AIKIDO_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=airkiss]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/airkiss.gif" alt="" title="{L_AIRKISS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bananas]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bananas.gif" alt="" title="{L_BANANAS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=banghead]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/banghead.gif" alt="" title="{L_BANGHEAD_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bb]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bb.gif" alt="" title="{L_BB_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bdaycake]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bdaycake.gif" alt="" title="{L_BDAYCAKE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bdaycandle]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bdaycandle.gif" alt="" title="{L_BDAYCANDLE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=beach]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beach.gif" alt="" title="{L_BEACH_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=beee]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beee.gif" alt="" title="{L_BEEE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=beer]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beer.gif" alt="" title="{L_BEER_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=beg]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beg.gif" alt="" title="{L_BEG_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bigboss]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bigboss.gif" alt="" title="{L_BIGBOSS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=biggrin]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/biggrin.gif" alt="" title="{L_BIGGRIN_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=blackeye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blackeye.gif" alt="" title="{L_BLACKEYE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=blahblah]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blahblah.gif" alt="" title="{L_BLAHBLAH_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=blind]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blind.gif" alt="" title="{L_BLIND_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=blink]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blink.gif" alt="" title="{L_BLINK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=blush]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blush.gif" alt="" title="{L_BLUSH_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=boredom]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/boredom.gif" alt="" title="{L_BOREDOM_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=borgdrone]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/borgdrone.gif" alt="" title="{L_BORGDRONE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bow]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bow.gif" alt="" title="{L_BOW_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=buba]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/buba.gif" alt="" title="{L_BUBA_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=bye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bye.gif" alt="" title="{L_BYE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=byebye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/byebye.gif" alt="" title="{L_BYEBYE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=cheers]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cheers.gif" alt="" title="{L_CHEERS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=clapping]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/clapping.gif" alt="" title="{L_CLAPPING_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=club]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/club.gif" alt="" title="{L_CLUB_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=coffee]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/coffee.gif" alt="" title="{L_COFFEE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=cold]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cold.gif" alt="" title="{L_COLD_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=confused]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/confused.gif" alt="" title="{L_CONFUSED_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=cool]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cool.gif" alt="" title="{L_COOL_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=crap]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/crap.gif" alt="" title="{L_CRAP_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=crazy]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/crazy.gif" alt="" title="{L_CRAZY_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=cry]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cry.gif" alt="" title="{L_CRY_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=crybye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/crybye.gif" alt="" title="{L_CRYBYE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=dance]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/dance.gif" alt="" title="{L_DANCE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=doh]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/doh.gif" alt="" title="{L_DOH_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=drag]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/drag.gif" alt="" title="{L_DRAG_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=eek]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/eek.gif" alt="" title="{L_EEK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=evil]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/evil.gif" alt="" title="{L_EVIL_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=facepalm]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/facepalm.gif" alt="" title="{L_FACEPALM_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=fart]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/fart.gif" alt="" title="{L_FART_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=flagwave]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/flagwave.gif" alt="" title="{L_FLAGWAVE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=focus]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/focus.gif" alt="" title="{L_FOCUS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=friends]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/friends.gif" alt="" title="{L_FRIENDS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=fright]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/fright.gif" alt="" title="{L_FRIGHT_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=giveheart]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/giveheart.gif" alt="" title="{L_GIVEHEART_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=giverose]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/giverose.gif" alt="" title="{L_GIVEROSE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=glasses]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/glasses.gif" alt="" title="{L_GLASSES_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=good]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/good.gif" alt="" title="{L_GOOD_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=grin]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/grin.gif" alt="" title="{L_GRIN_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=howdy]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/howdy.gif" alt="" title="{L_HOWDY_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=idk]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/idk.gif" alt="" title="{L_IDK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=jaw]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/jaw.gif" alt="" title="{L_JAW_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=joking]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/joking.gif" alt="" title="{L_JOKING_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=king]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/king.gif" alt="" title="{L_KING_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=lol]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/lol.gif" alt="" title="{L_LOL_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=lol2]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/lol2.gif" alt="" title="{L_LOL2_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=mad]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mad.gif" alt="" title="{L_MAD_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=mad2]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mad2.gif" alt="" title="{L_MAD2_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=mail]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mail.gif" alt="" title="{L_MAIL_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=mexwave]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mexwave.gif" alt="" title="{L_MEXWAVE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=moon]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/moon.gif" alt="" title="{L_MOON_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=morning]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/morning.gif" alt="" title="{L_MORNING_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=mrgreen]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mrgreen.gif" alt="" title="{L_MRGREEN_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=nono]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/nono.gif" alt="" title="{L_NONO_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=ok]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/ok.gif" alt="" title="{L_OK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=oldtimer]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/oldtimer.gif" alt="" title="{L_OLDTIMER_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=order]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/order.gif" alt="" title="{L_ORDER_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=pardon]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/pardon.gif" alt="" title="{L_PARDON_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=poke]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/poke.gif" alt="" title="{L_POKE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=pokeeye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/pokeeye.gif" alt="" title="{L_POKEEYE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=pump]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/pump.gif" alt="" title="{L_PUMP_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=razz]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/razz.gif" alt="" title="{L_RAZZ_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=read]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/read.gif" alt="" title="{L_READ_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=redface]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/redface.gif" alt="" title="{L_REDFACE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=rofl]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rofl.gif" alt="" title="{L_ROFL_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=rolleyes]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rolleyes.gif" alt="" title="{L_ROLLEYES_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=rotfl]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rotfl.gif" alt="" title="{L_ROTFL_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=rules]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rules.gif" alt="" title="{L_RULES2_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=scared]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/scared.gif" alt="" title="{L_SCARED_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=scout]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/scout.gif" alt="" title="{L_SCOUT_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=scratch]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/scratch.gif" alt="" title="{L_SCRATCH_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=search]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/search.gif" alt="" title="{L_SEARCH2_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=secret]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/secret.gif" alt="" title="{L_SECRET_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=shock]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/shock.gif" alt="" title="{L_SHOCK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=shout]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/shout.gif" alt="" title="{L_SHOUT_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=sleeping]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/sleeping.gif" alt="" title="{L_SLEEPING_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=sleepy]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/sleepy.gif" alt="" title="{L_SLEEPY_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=sorry]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/sorry.gif" alt="" title="{L_SORRY_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=taunt]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/taunt.gif" alt="" title="{L_TAUNT_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=tease]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/tease.gif" alt="" title="{L_TEASE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=think]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/think.gif" alt="" title="{L_THINK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=this]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/this.gif" alt="" title="{L_THIS_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=thumbsdown]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/thumbsdown.gif" alt="" title="{L_THUMBSDOWN_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=thumbsup]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/thumbsup.gif" alt="" title="{L_THUMBSUP_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=tongue]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/tongue.gif" alt="" title="{L_TONGUE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=twisted]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/twisted.gif" alt="" title="{L_TWISTED_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=unsure]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/unsure.gif" alt="" title="{L_UNSURE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=vinsent]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/vinsent.gif" alt="" title="{L_VINSENT_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=wacko]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wacko.gif" alt="" title="{L_WACKO_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=warning]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/warning.gif" alt="" title="{L_WARNING2_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=wave]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wave.gif" alt="" title="{L_WAVE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=wavehat]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wavehat.gif" alt="" title="{L_WAVEHAT_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=weirdo]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/weirdo.gif" alt="" title="{L_WEIRDO_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=wink]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wink.gif" alt="" title="{L_WINK_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=write]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/write.gif" alt="" title="{L_WRITE_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=yahoo]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/yahoo.gif" alt="" title="{L_YAHOO_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=yes]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/yes.gif" alt="" title="{L_YES2_TITLE}" /></a>
			<a onclick="bbfontstyle('[sign=zchair]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/zchair.gif" alt="" title="{L_ZCHAIR_TITLE}" /></a>
			</div>
		</div>

	<!-- IF SCRIPT_NAME == "posting" -->
		<div id="smiliesigns-example-posting-box">
			<strong>{L_SIGN_EXAMPLE_BBODES}</strong>
			<div class="signs-example-posting-list">
	<!-- ELSEIF SCRIPT_NAME == "viewtopic" -->
		<div id="smiliesigns-example-viewtopic-box">
			<strong>{L_SIGN_EXAMPLE_BBODES}</strong>
			<div class="signs-example-viewtopic-list">
	<!-- ELSEIF SCRIPT_NAME == "index" -->
		<div id="smiliesigns-example-index-box">
			<span title="{L_SIGNS_EXAMPLE_BBCODE_HELP}"><strong>{L_SIGN_EXAMPLE_BBODES}</strong></span>
			<div class="signs-example-index-list">
	<!-- ENDIF -->
				<div class="sign-wrap" title="{L_ACUTE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_ACUTE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_acute.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_AGGRESSIVE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_AGGRESSIVE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_aggressive.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_AGREE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_AGREE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_agree.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_AIKIDO}"><div class="forabg sign-head"><div class="panel sign-inner">{L_AIKIDO_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_aikido.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_AIRKISS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_AIRKISS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_airkiss.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BANANAS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BANANAS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bananas.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BANGHEAD}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BANGHEAD_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_banghead.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BB}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BB_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bb.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BDAYCAKE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BDAYCAKE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bdaycake.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BDAYCANDLE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BDAYCANDLE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bdaycandle.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BEACH}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BEACH_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_beach.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BEEE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BEEE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_beee.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BEER}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BEER_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_beer.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BEG}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BEG_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_beg.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BIGBOSS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BIGBOSS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bigboss.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BIGGRIN}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BIGGRIN_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_biggrin.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BLACKEYE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BLACKEYE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_blackeye.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BLAHBLAH}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BLAHBLAH_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_blahblah.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BLIND}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BLIND_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_blind.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BLINK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BLINK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_blink.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BLUSH}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BLUSH_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_blush.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BOREDOM}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BOREDOM_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_boredom.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BORGDRONE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BORGDRONE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_borgdrone.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BOW}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BOW_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bow.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BUBA}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BUBA_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_buba.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BYE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BYE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_bye.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_BYEBYE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_BYEBYE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_byebye.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CHEERS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CHEERS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_cheers.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CLAPPING}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CLAPPING_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_clapping.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CLUB}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CLUB_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_club.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_COFFEE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_COFFEE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_coffee.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_COLD}"><div class="forabg sign-head"><div class="panel sign-inner">{L_COLD_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_cold.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CONFUSED}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CONFUSED_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_confused.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_COOL}"><div class="forabg sign-head"><div class="panel sign-inner">{L_COOL_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_cool.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CRAP}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CRAP_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_crap.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CRAZY}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CRAZY_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_crazy.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CRY}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CRY_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_cry.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_CRYBYE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_CRYBYE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_crybye.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_DANCE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_DANCE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_dance.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_DOH}"><div class="forabg sign-head"><div class="panel sign-inner">{L_DOH_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_doh.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_DRAG}"><div class="forabg sign-head"><div class="panel sign-inner">{L_DRAG_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_drag.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_EEK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_EEK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_eek.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_EVIL}"><div class="forabg sign-head"><div class="panel sign-inner">{L_EVIL_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_evil.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_FACEPALM}"><div class="forabg sign-head"><div class="panel sign-inner">{L_FACEPALM_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_facepalm.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_FART}"><div class="forabg sign-head"><div class="panel sign-inner">{L_FART_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_fart.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_FLAGWAVE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_FLAGWAVE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_flagwave.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_FOCUS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_FOCUS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_focus.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_FRIENDS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_FRIENDS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_friends.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_FRIGHT}"><div class="forabg sign-head"><div class="panel sign-inner">{L_FRIGHT_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_fright.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_GIVEHEART}"><div class="forabg sign-head"><div class="panel sign-inner">{L_GIVEHEART_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_giveheart.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_GIVEROSE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_GIVEROSE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_giverose.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_GLASSES}"><div class="forabg sign-head"><div class="panel sign-inner">{L_GLASSES_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_glasses.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_GOOD}"><div class="forabg sign-head"><div class="panel sign-inner">{L_GOOD_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_good.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_GRIN}"><div class="forabg sign-head"><div class="panel sign-inner">{L_GRIN_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_grin.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_HOWDY}"><div class="forabg sign-head"><div class="panel sign-inner">{L_HOWDY_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_howdy.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_IDK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_IDK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_idk.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_JAW}"><div class="forabg sign-head"><div class="panel sign-inner">{L_JAW_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_jaw.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_JOKING}"><div class="forabg sign-head"><div class="panel sign-inner">{L_JOKING_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_joking.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_KING}"><div class="forabg sign-head"><div class="panel sign-inner">{L_KING_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_king.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_LOL}"><div class="forabg sign-head"><div class="panel sign-inner">{L_LOL_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_lol.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_LOL2}"><div class="forabg sign-head"><div class="panel sign-inner">{L_LOL2_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_lol2.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MAD}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MAD_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_mad.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MAD2}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MAD2_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_mad2.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MAIL}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MAIL_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_mail.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MEXWAVE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MEXWAVE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_mexwave.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MOON}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MOON_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_moon.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MORNING}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MORNING_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_morning.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_MRGREEN}"><div class="forabg sign-head"><div class="panel sign-inner">{L_MRGREEN_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_mrgreen.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_NONO}"><div class="forabg sign-head"><div class="panel sign-inner">{L_NONO_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_nono.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_OK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_OK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_ok.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_OLDTIMER}"><div class="forabg sign-head"><div class="panel sign-inner">{L_OLDTIMER_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_oldtimer.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_ORDER}"><div class="forabg sign-head"><div class="panel sign-inner">{L_ORDER_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_order.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_PARDON}"><div class="forabg sign-head"><div class="panel sign-inner">{L_PARDON_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_pardon.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_POKE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_POKE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_poke.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_POKEEYE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_POKEEYE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_pokeeye.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_PUMP}"><div class="forabg sign-head"><div class="panel sign-inner">{L_PUMP_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_pump.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_RAZZ}"><div class="forabg sign-head"><div class="panel sign-inner">{L_RAZZ_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_razz.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_READ}"><div class="forabg sign-head"><div class="panel sign-inner">{L_READ_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_read.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_REDFACE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_REDFACE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_redface.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_ROFL}"><div class="forabg sign-head"><div class="panel sign-inner">{L_ROFL_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_rofl.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_ROLLEYES}"><div class="forabg sign-head"><div class="panel sign-inner">{L_ROLLEYES_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_rolleyes.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_ROTFL}"><div class="forabg sign-head"><div class="panel sign-inner">{L_ROTFL_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_rotfl.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_RULES2}"><div class="forabg sign-head"><div class="panel sign-inner">{L_RULES2_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_rules.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SCARED}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SCARED_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_scared.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SCOUT}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SCOUT_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_scout.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SCRATCH}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SCRATCH_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_scratch.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SEARCH2}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SEARCH2_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_search.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SECRET}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SECRET_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_secret.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SHOCK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SHOCK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_shock.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SHOUT}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SHOUT_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_shout.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SLEEPING}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SLEEPING_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_sleeping.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SLEEPY}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SLEEPY_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_sleepy.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_SORRY}"><div class="forabg sign-head"><div class="panel sign-inner">{L_SORRY_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_sorry.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_TAUNT}"><div class="forabg sign-head"><div class="panel sign-inner">{L_TAUNT_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_taunt.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_TEASE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_TEASE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_tease.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_THINK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_THINK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_think.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_THIS}"><div class="forabg sign-head"><div class="panel sign-inner">{L_THIS_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_this.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_THUMBSDOWN}"><div class="forabg sign-head"><div class="panel sign-inner">{L_THUMBSDOWN_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_thumbsdown.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_THUMBSUP}"><div class="forabg sign-head"><div class="panel sign-inner">{L_THUMBSUP_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_thumbsup.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_TONGUE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_TONGUE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_tongue.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_TWISTED}"><div class="forabg sign-head"><div class="panel sign-inner">{L_TWISTED_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_twisted.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_UNSURE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_UNSURE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_unsure.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_VINSENT}"><div class="forabg sign-head"><div class="panel sign-inner">{L_VINSENT_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_vinsent.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WACKO}text[/sign]"><div class="forabg sign-head"><div class="panel sign-inner">{L_WACKO_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_wacko.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WARNING}"><div class="forabg sign-head"><div class="panel sign-inner">{L_WARNING2_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_warning.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WAVE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_WAVE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_wave.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WAVEHAT}"><div class="forabg sign-head"><div class="panel sign-inner">{L_WAVEHAT_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_wavehat.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WEIRDO}"><div class="forabg sign-head"><div class="panel sign-inner">{L_WEIRDO_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_weirdo.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WINK}"><div class="forabg sign-head"><div class="panel sign-inner">{L_WINK_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_wink.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_WRITE}"><div class="forabg sign-head"><div class="panel sign-inner">{L_WRITE_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_write.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_YAHOO}"><div class="forabg sign-head"><div class="panel sign-inner">{L_YAHOO_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_yahoo.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_YES}"><div class="forabg sign-head"><div class="panel sign-inner">{L_YES2_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_yes.gif" alt="" /></div></div>
				<div class="sign-wrap" title="{L_ZCHAIR}"><div class="forabg sign-head"><div class="panel sign-inner">{L_ZCHAIR_TITLE}</div></div>
					<div class="headerbar sign-img"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/sign_zchair.gif" alt="" /></div></div>
			</div>
		</div>
<!-- ENDIF -->
