.sign-forabg {
 	margin-top: 0;
}

.sign-header {
	width:100%;
	text-align: center;
}

.sign-header h1 {
	margin: -2px 0 4px;
	cursor: pointer;
}

.sign-panel {
	margin: 4px;
	text-align: center;
	border-radius: 6px;
}

.sign-wrap {
 	display: inline-block;
	padding: 4px 2px 18px;
	cursor:pointer;
}

.sign-head {
	padding: 6px;
	margin: 0;
	border-radius: 12px;
}

.signs-panel {
	padding: 2px 6px 4px;
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
	box-shadow: none;
}

.sign-img {
	padding: 0;
	margin-top: 0;
	border: none;
	box-shadow: none;
	background-size: 6px 28px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center top;
	margin-bottom: -14px;
}

.smilie-img {
	margin-top: -14px;
}

.sign-inner img {
	vertical-align: middle;
}
