<!-- IF SCRIPT_NAME == "posting" or SCRIPT_NAME == "viewtopic" or SCRIPT_NAME == "index" -->
<!-- IF SCRIPT_NAME == "posting" or SCRIPT_NAME == "viewtopic" -->
 	<div id="smiliesigns-posting-box">
			<span title="{L_SIGNS_BBCODE_HELP}"><strong>{L_SIGN_BBODES}</strong></span>
 			<div class="signs-posting-list">
<!-- ELSEIF SCRIPT_NAME == "index" -->
 	<div id="smiliesigns-index-box">
			<span title="{L_SIGNS_BBCODE_HELP}"><strong>{L_SIGN_BBODES}</strong></span>
 			<div class="signs-index-list">
<!-- ENDIF -->
			<a herf="" onclick="bbfontstyle('[sign=acute]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/acute.gif" alt="" title="{L_ACUTE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=aggressive]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/aggressive.gif" alt="" title="{L_AGGRESSIVE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=agree]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/agree.gif" alt="" title="{L_AGREE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=aikido]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/aikido.gif" alt="" title="{L_AIKIDO_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=airkiss]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/airkiss.gif" alt="" title="{L_AIRKISS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bananas]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bananas.gif" alt="" title="{L_BANANAS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=banghead]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/banghead.gif" alt="" title="{L_BANGHEAD_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bb]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bb.gif" alt="" title="{L_BB_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bdaycake]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bdaycake.gif" alt="" title="{L_BDAYCAKE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bdaycandle]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bdaycandle.gif" alt="" title="{L_BDAYCANDLE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=beach]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beach.gif" alt="" title="{L_BEACH_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=beee]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beee.gif" alt="" title="{L_BEEE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=beer]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beer.gif" alt="" title="{L_BEER_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=beg]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/beg.gif" alt="" title="{L_BEG_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bigboss]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bigboss.gif" alt="" title="{L_BIGBOSS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=biggrin]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/biggrin.gif" alt="" title="{L_BIGGRIN_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=blackeye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blackeye.gif" alt="" title="{L_BLACKEYE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=blahblah]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blahblah.gif" alt="" title="{L_BLAHBLAH_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=blind]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blind.gif" alt="" title="{L_BLIND_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=blink]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blink.gif" alt="" title="{L_BLINK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=blush]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/blush.gif" alt="" title="{L_BLUSH_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=boredom]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/boredom.gif" alt="" title="{L_BOREDOM_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=borgdrone]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/borgdrone.gif" alt="" title="{L_BORGDRONE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bow]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bow.gif" alt="" title="{L_BOW_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=buba]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/buba.gif" alt="" title="{L_BUBA_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=bye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/bye.gif" alt="" title="{L_BYE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=byebye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/byebye.gif" alt="" title="{L_BYEBYE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=cheers]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cheers.gif" alt="" title="{L_CHEERS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=clapping]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/clapping.gif" alt="" title="{L_CLAPPING_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=club]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/club.gif" alt="" title="{L_CLUB_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=coffee]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/coffee.gif" alt="" title="{L_COFFEE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=cold]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cold.gif" alt="" title="{L_COLD_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=confused]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/confused.gif" alt="" title="{L_CONFUSED_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=cool]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cool.gif" alt="" title="{L_COOL_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=crap]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/crap.gif" alt="" title="{L_CRAP_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=crazy]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/crazy.gif" alt="" title="{L_CRAZY_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=cry]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/cry.gif" alt="" title="{L_CRY_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=crybye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/crybye.gif" alt="" title="{L_CRYBYE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=dance]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/dance.gif" alt="" title="{L_DANCE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=doh]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/doh.gif" alt="" title="{L_DOH_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=drag]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/drag.gif" alt="" title="{L_DRAG_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=eek]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/eek.gif" alt="" title="{L_EEK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=evil]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/evil.gif" alt="" title="{L_EVIL_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=facepalm]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/facepalm.gif" alt="" title="{L_FACEPALM_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=fart]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/fart.gif" alt="" title="{L_FART_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=flagwave]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/flagwave.gif" alt="" title="{L_FLAGWAVE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=focus]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/focus.gif" alt="" title="{L_FOCUS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=friends]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/friends.gif" alt="" title="{L_FRIENDS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=fright]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/fright.gif" alt="" title="{L_FRIGHT_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=giveheart]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/giveheart.gif" alt="" title="{L_GIVEHEART_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=giverose]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/giverose.gif" alt="" title="{L_GIVEROSE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=glasses]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/glasses.gif" alt="" title="{L_GLASSES_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=good]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/good.gif" alt="" title="{L_GOOD_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=grin]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/grin.gif" alt="" title="{L_GRIN_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=howdy]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/howdy.gif" alt="" title="{L_HOWDY_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=idk]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/idk.gif" alt="" title="{L_IDK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=jaw]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/jaw.gif" alt="" title="{L_JAW_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=joking]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/joking.gif" alt="" title="{L_JOKING_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=king]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/king.gif" alt="" title="{L_KING_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=lol]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/lol.gif" alt="" title="{L_LOL_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=lol2]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/lol2.gif" alt="" title="{L_LOL2_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=mad]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mad.gif" alt="" title="{L_MAD_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=mad2]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mad2.gif" alt="" title="{L_MAD2_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=mail]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mail.gif" alt="" title="{L_MAIL_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=mexwave]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mexwave.gif" alt="" title="{L_MEXWAVE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=moon]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/moon.gif" alt="" title="{L_MOON_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=morning]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/morning.gif" alt="" title="{L_MORNING_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=mrgreen]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/mrgreen.gif" alt="" title="{L_MRGREEN_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=nono]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/nono.gif" alt="" title="{L_NONO_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=ok]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/ok.gif" alt="" title="{L_OK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=oldtimer]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/oldtimer.gif" alt="" title="{L_OLDTIMER_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=order]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/order.gif" alt="" title="{L_ORDER_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=pardon]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/pardon.gif" alt="" title="{L_PARDON_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=poke]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/poke.gif" alt="" title="{L_POKE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=pokeeye]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/pokeeye.gif" alt="" title="{L_POKEEYE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=pump]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/pump.gif" alt="" title="{L_PUMP_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=razz]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/razz.gif" alt="" title="{L_RAZZ_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=read]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/read.gif" alt="" title="{L_READ_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=redface]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/redface.gif" alt="" title="{L_REDFACE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=rofl]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rofl.gif" alt="" title="{L_ROFL_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=rolleyes]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rolleyes.gif" alt="" title="{L_ROLLEYES_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=rotfl]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rotfl.gif" alt="" title="{L_ROTFL_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=rules]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/rules.gif" alt="" title="{L_RULES2_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=scared]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/scared.gif" alt="" title="{L_SCARED_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=scout]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/scout.gif" alt="" title="{L_SCOUT_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=scratch]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/scratch.gif" alt="" title="{L_SCRATCH_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=search]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/search.gif" alt="" title="{L_SEARCH2_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=secret]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/secret.gif" alt="" title="{L_SECRET_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=shock]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/shock.gif" alt="" title="{L_SHOCK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=shout]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/shout.gif" alt="" title="{L_SHOUT_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=sleeping]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/sleeping.gif" alt="" title="{L_SLEEPING_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=sleepy]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/sleepy.gif" alt="" title="{L_SLEEPY_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=sorry]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/sorry.gif" alt="" title="{L_SORRY_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=taunt]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/taunt.gif" alt="" title="{L_TAUNT_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=tease]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/tease.gif" alt="" title="{L_TEASE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=think]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/think.gif" alt="" title="{L_THINK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=this]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/this.gif" alt="" title="{L_THIS_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=thumbsdown]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/thumbsdown.gif" alt="" title="{L_THUMBSDOWN_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=thumbsup]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/thumbsup.gif" alt="" title="{L_THUMBSUP_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=tongue]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/tongue.gif" alt="" title="{L_TONGUE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=twisted]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/twisted.gif" alt="" title="{L_TWISTED_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=unsure]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/unsure.gif" alt="" title="{L_UNSURE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=vinsent]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/vinsent.gif" alt="" title="{L_VINSENT_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=wacko]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wacko.gif" alt="" title="{L_WACKO_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=warning]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/warning.gif" alt="" title="{L_WARNING2_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=wave]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wave.gif" alt="" title="{L_WAVE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=wavehat]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wavehat.gif" alt="" title="{L_WAVEHAT_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=weirdo]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/weirdo.gif" alt="" title="{L_WEIRDO_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=wink]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/wink.gif" alt="" title="{L_WINK_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=write]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/write.gif" alt="" title="{L_WRITE_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=yahoo]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/yahoo.gif" alt="" title="{L_YAHOO_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=yes]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/yes.gif" alt="" title="{L_YES2_TITLE}" /></a>
			<a herf="" onclick="bbfontstyle('[sign=zchair]', '[/sign]');"><img src="{ROOT_PATH}ext/sniper/smiliesigns/images/icons/zchair.gif" alt="" title="{L_ZCHAIR_TITLE}" /></a>
 			</div>
	</div>
<!-- ENDIF -->
