	<select class="gensmall" name="smiliesign" onchange="bbfontstyle('[sign=' + this.options[this.selectedIndex].value + ']', '[/sign]');this.selectedIndex = 0;" title="{L_BBCODE_SIGN_HELP}" style="height: 21px;">
			<option value="#" selected="selected" style="display: none;">{L_SIGN_BBODES}</option>
			<option value="pole" class="sign">{L_SIGN_TITLE}</option>
			<option value="acute" class="acute">{L_ACUTE_TITLE}</option>
			<option value="aikido" class="aikido">{L_AIKIDO_TITLE}</option>
			<option value="bananas" class="bananas">{L_BANANAS_TITLE}</option>
			<option value="banghead" class="banghead">{L_BANGHEAD_TITLE}</option>
			<option value="bdaycake" class="bdaycake">{L_BDAYCAKE_TITLE}</option>
			<option value="bdaycandle" class="bdaycandle">{L_BDAYCANDLE_TITLE}</option>
			<option value="beer" class="beer">{L_BEER_TITLE}</option>
			<option value="beg" class="beg">{L_BEG_TITLE}</option>
			<option value="beach" class="beach">{L_BEACH_TITLE}</option>
			<option value="big_boss" class="big_boss">{L_BIG_BOSS_TITLE}</option>
			<option value="blackeye" class="blackeye">{L_BLACKEYE_TITLE}</option>
			<option value="blahblah" class="blahblah">{L_BLAHBLAH_TITLE}</option>
			<option value="blush" class="blush">{L_BLUSH_TITLE}</option>
			<option value="borg_drone" class="borg_drone">{L_BORG_DRONE_TITLE}</option>
			<option value="byebye" class="byebye">{L_BYEBYE_TITLE}</option>
			<option value="cheers" class="cheers">{L_CHEERS_TITLE}</option>
			<option value="clapping" class="clapping">{L_CLAPPING_TITLE}</option>
			<option value="club" class="club">{L_CLUB_TITLE}</option>
			<option value="coffee" class="coffee">{L_COFFEE_TITLE}</option>
			<option value="cool" class="cool">{L_COOL_TITLE}</option>
			<option value="cool2" class="cool2">{L_COOL2_TITLE}</option>
			<option value="crap" class="crap">{L_CRAP_TITLE}</option>
			<option value="crazy" class="crazy">{L_CRAZY_TITLE}</option>
			<option value="cry" class="cry">{L_CRY_TITLE}</option>
			<option value="crybye" class="crybye">{L_CRYBYE_TITLE}</option>
			<option value="doh" class="doh">{L_DOH_TITLE}</option>
			<option value="focus" class="focus">{L_FOCUS_TITLE}</option>
			<option value="friends" class="friends">{L_FRIENDS_TITLE}</option>
			<option value="fright" class="fright">{L_FRIGHT_TITLE}</option>
			<option value="give_heart" class="give_heart">{L_GIVE_HEART_TITLE}</option>
			<option value="give_rose" class="give_rose">{L_GIVE_ROSE_TITLE}</option>
			<option value="good" class="good">{L_GOOD_TITLE}</option>
			<option value="grin" class="grin">{L_GRIN_TITLE}</option>
			<option value="howdy" class="howdy">{L_HOWDY_TITLE}</option>
			<option value="idk" class="idk">{L_IDK_TITLE}</option>
			<option value="jaw" class="jaw">{L_JAW_TITLE}</option>
			<option value="king" class="king">{L_KING_TITLE}</option>
			<option value="lol" class="lol">{L_LOL_TITLE}</option>
			<option value="mail" class="mail">{L_MAIL_TITLE}</option>
			<option value="mad" class="mad">{L_MAD_TITLE}</option>
			<option value="mexwave" class="mexwave">{L_MEXWAVE_TITLE}</option>
			<option value="moon" class="moon">{L_MOON_TITLE}</option>
			<option value="nono" class="nono">{L_NONO_TITLE}</option>
			<option value="ok" class="ok">{L_OK_TITLE}</option>
			<option value="order" class="order">{L_ORDER_TITLE}</option>
			<option value="pardon" class="pardon">{L_PARDON_TITLE}</option>
			<option value="poke" class="poke">{L_POKE_TITLE}</option>
			<option value="pump" class="pump">{L_PUMP_TITLE}</option>
			<option value="read" class="read">{L_READ_TITLE}</option>
			<option value="rofl" class="rofl">{L_ROFL_TITLE}</option>
			<option value="rolleyes" class="rolleyes">{L_ROLLEYES_TITLE}</option>
			<option value="rotfl" class="rotfl">{L_ROTFL_TITLE}</option>
			<option value="rules2" class="rules2">{L_RULES2_TITLE}</option>
			<option value="scared" class="scared">{L_SCARED_TITLE}</option>
			<option value="scout" class="scout">{L_SCOUT_TITLE}</option>
			<option value="scratch" class="scratch">{L_SCRATCH_TITLE}</option>
			<option value="search2" class="search2">{L_SEARCH2_TITLE}</option>
			<option value="secret" class="secret">{L_SECRET_TITLE}</option>
			<option value="shock" class="shock">{L_SHOCK_TITLE}</option>
			<option value="shout" class="shout">{L_SHOUT_TITLE}</option>
			<option value="sleeping" class="sleeping">{L_SLEEPING_TITLE}</option>
			<option value="sorry" class="sorry">{L_SORRY_TITLE}</option>
			<option value="taunt" class="taunt">{L_TAUNT_TITLE}</option>
			<option value="tease" class="tease">{L_TEASE_TITLE}</option>
			<option value="think" class="think">{L_THINK_TITLE}</option>
			<option value="this" class="this">{L_THIS_TITLE}</option>
			<option value="tongue" class="tongue">{L_TONGUE_TITLE}</option>
			<option value="unsure" class="unsure">{L_UNSURE_TITLE}</option>
			<option value="wacko" class="wacko">{L_WACKO_TITLE}</option>
			<option value="wave" class="wave">{L_WAVE_TITLE}</option>
			<option value="warning" class="warning">{L_WARNING_TITLE}</option>
			<option value="weirdo" class="weirdo">{L_WEIRDO_TITLE}</option>
			<option value="wink" class="wink">{L_WINK_TITLE}</option>
			<option value="yahoo" class="yahoo">{L_YAHOO_TITLE}</option>
			<option value="yes2" class="yes2">{L_YES2_TITLE}</option>
			<option value="zchair" class="zchair">{L_ZCHAIR_TITLE}</option>
	</select>
